@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap' );

html{
  display: block;
}
head{
  display: none;
  background-color: #172026;
}
body{
  background-color: #172026;
  font-family: 'Noto Sans KR', sans-serif;
}
/*wrapper*/
.wrapper{
  margin: 10%;
}
@media only screen and (max-device-width: 500px){
  .wrapper{
    margin: 7%;
  }
}

/*이미지 위치*/

/*모든 폰트*/
a{
  color: white;
  font-size: 14px;
  text-decoration: none;
}
@media only screen and (max-device-width: 500px){
  a{
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
}

.logo_area{
    position: relative;
    height: 100%;
    margin: 1%;
}
.logo_area_logo_text{
  top: -4px;
  font-size: 30px;
  position: relative;
}
@media only screen and (max-device-width: 500px){
  .logo_img{
    width: 40px; height: 40px;
  }
}
@media only screen and (max-device-width: 500px){
  .logo_area_logo_text{
    top: -4px;
    font-size: 40px;
    position: relative;
  }
}

/**dropdown menu**/

.menu_area{
  margin: 0 auto;
  padding: 1%;
}

*{padding:0;margin:0}
li{list-style:none}
.menu_text{text-decoration:none;font-size:14px}
/*menu css 정리하기*/
.menu_text{
  color: white;
}
@media only screen and (max-device-width: 500px){
  /*font-size 14px로 변경
  임시로 30px은 모바일만 표시하게 해둠*/
  .menu_text{text-decoration: none;font-size: 23px;}
}
.menu {
    width: 100%;
    position: relative;
    top: -130px;
    overflow: hidden;
    margin: 150px auto;
  }
  
  .menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
  }
  
  .menu a {
    color: white;
  }
  .submenu > li {
    line-height: 50px;
    background-color: white;
  }
  @media only screen and (max-device-width: 500px){
    .submenu > li {
      line-height: 60px;
      background-color: white;
    }
  }
  p{
    color: #172026;
  }

  .submenu {
    height: 0; 
    overflow: hidden;
  }

  .menu > li:hover {
    background-color: white;
    transition-duration: 1s;
  }
  
  .menu > li:hover .submenu {
    height: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-duration: 0.5s;
  }
  @media only screen and (max-device-width: 500px){
    .menu > li:hover .submenu {
      height: 300px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition-duration: 0.5s;
    }
  }



/*down space for info*/
.bottom_space{
  position: relative;
  width: 100%;
  height: 400px;
  float: left;
}
.bottom_text_link{
  position: relative;
  float: left;
  text-align: center;
  line-height: 0 auto;
}

/*bottom space*/
.bottom_space{
  padding: 0 auto;
  width: 100%;
  height: 40px;
  bottom: 0 auto;
}

/*footer*/
.b_text::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 8px;
  background-color: white;
  vertical-align: -1px;
}
.b_text_first{
  color: white;
}
.b_text{
  color: white;
}
.info{
  margin: 0 auto;
}



/*slide img*/


/*모바일 css*/
