@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap' );
            body{
                background-color: #172026;
                height: 2000px;
            }
            /*<블리보 로고, 블리보 바로가기*/
            
            /*이미지 위치*/
            
            a{
                font-family: 'Noto Sans KR', sans-serif;
                color: white;
                font-size: 50px;
                text-decoration: none;
            }
            
            
*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}
.menu {
    width: 100%;
    overflow: hidden;
    margin: 150px auto;
  }
  
  .menu > li {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #172026;
  }
  
  .menu a {
    color: white;
  }
  .submenu > li {
    line-height: 50px;
    background-color: white;
  }
  p{
    color: #172026;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .submenu {
    height: 0; 
    overflow: hidden;
  }
  .menu > li:hover {
    background-color: white;
    transition-duration: 1s;
  }
  
  .menu > li:hover .submenu {
    height: 250px; 
    transition-duration: 0.5s;}
