@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap' );
            body{
                background-color: #172026;
                height: 100%;
            }
            /*<블리보 로고, 블리보 바로가기*/
            h1{
                font-size: 60x;
                font-family: 'Noto Sans KR', sans-serif;
                background-color: #172026;
                height: 0px;
                width: 100%;
            }
            /*이미지 위치*/
            
            a{
                font-family: 'Noto Sans KR', sans-serif;
                color: white;
                font-size: 50px;
                text-decoration: none;
            }
            
            
*{padding:0;margin:0}
li{list-style:none}
a{text-decoration:none;font-size:14px}
.menu {
    width: 800px;
    overflow: hidden;
    margin: 150px auto;
    font-size: 10px;
  }
  
  .menu > li {
    width: 20%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #172026;
  }
  
  .menu a {
    color: white;
  }
  
  .submenu > li {
    line-height: 50px;
    background-color: white;
  }
  /*드롭메뉴 텍스트 컬러*/
  p{
    color: #172026;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
  }
  .menu > li:hover {
    background-color: white;
    transition-duration: 1s;
  }
  
  .menu > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;}
